# Default ignored files
/shelf/
/workspace.xml


# Gradle specific files
.gradle/
**/build/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties
gradlew
gradlew.bat

# IntelliJ specific files
.idea/
*.iml
*.ipr
*.iws

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.class
*.jar
*.war
*.ear
